.vs/Ellijim.Demo.CVProvider/config/applicationhost.config
.vs/Ellijim.Demo.CVProvider/DesignTimeBuild/.dtbcache.v2
.vs/Ellijim.Demo.CVProvider/v16/.suo
Ellijim.Demo.CVProvider/Properties/serviceDependencies.EllijimDemoCVProvider20241102213641 - Zip Deploy.json
Ellijim.Demo.CVProvider/Properties/PublishProfiles/EllijimDemoCVProvider20241102213641 - Zip Deploy.pubxml
Ellijim.Demo.CVProvider/Properties/ServiceDependencies/EllijimDemoCVProvider20241102213641 - Zip Deploy/storage1.arm.json
